//////////


.welcome-member{

	font-size:16px;
	font-weight:500;
	font-family: $populix-open;
	color:#0D2433;
}


.term2{

	font-family: $populix-open;
	font-size:14px;
	font-weight:600;
	color:#242A2F;
	text-align:center;
	a{
      color: $populix-blue-dark;
	}
}

.term3{

	font-family: $populix-open;
	font-size:13px;
	font-weight:400;
	color:#0A3047;
	text-align:left;
	a{
      color: $populix-blue-dark;
	}
}


.button-arrow{
	position: absolute;
    right: 35px;
    margin-top: 5px;
}




