// Here you can add other styles


@import "populix/pages/splash.scss";
@import "populix/pages/login.scss";
@import "populix/pages/home.scss";
@import "populix/pages/about.scss";
@import "populix/pages/welcome.scss";
@import "populix/pages/prescreening.scss";


//////component

@import "populix/component/button.scss";
@import "populix/component/form.scss";






body{
    background: '#fff';
	font-family: 'Open Sans', sans-serif;
}


.bg-white{
	background: '#fff';
}


.preline{

	border-left: 1px solid #EDEFF2;
}

.cover{
	font-family: 'Open Sans', sans-serif;
	padding-top: 5rem;
    padding-bottom: 5rem;

	h2{
		font-size:32px;
		color:#10496D;
		line-height:48px;
	}

	p{

		color:#858585;
		font-size:20px;
	}
}

.bg-gradient{

	background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 0%, #f2fbfd 100%);
background: -webkit-linear-gradient(top, #ffffff 0%,#f2fbfd 100%);
background: linear-gradient(to bottom, #ffffff 0%,#f2fbfd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2fbfd',GradientType=0 );
}