// Variable overrides





////Populix Color



$populix-blue-dark:              #179DFE !default;
$populix-yellow-dark:            #FAAF40 !default;
$populix-grey:                   #C9CCCE !default;
$populix-black-font:             #0D2433 !default;






////  Style Typography


$populix-open: 'Open Sans', sans-serif;
$populix-roboto: 'Roboto', sans-serif;