.footer {
  color: #C9CCCE;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #EDEFF2; }

.nav-link {
  color: #179dfe;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

.bg {
  background: url("http://localhost:3000/assets/img/bg.png") no-repeat center center;
  height: 500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.top-nav {
  font-size: 12px;
  font-family: "Open Sans", sans-serif; }
  .top-nav a {
    color: #179DFE; }

.partners {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 120px;
  background: #Fff; }

.bg-blue {
  background: #179DFE; }

.features {
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .features h1 {
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 48px; }
  .features h4 {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 48px; }
  .features p {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500; }

.process {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-family: "Open Sans", sans-serif; }

.nav-footer {
  text-align: right; }
  .nav-footer .nav-link {
    color: #858585;
    font-size: 12px;
    font-weight: 400; }

.testimonial {
  background: #f9f9f9; }
  .testimonial .avatar-img {
    position: relative;
    margin-left: 40%;
    margin-bottom: -40px;
    z-index: 2; }
  .testimonial .avatar-xl {
    width: 100px;
    height: 100px; }

.services, .teams {
  font-family: 'Open Sans', sans-serif;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .services h5, .teams h5 {
    color: #10496D;
    font-size: 20px;
    font-weight: 600; }
  .services h5, .teams h5 {
    color: #10496D;
    font-size: 24px;
    font-weight: 600; }
  .services p, .teams p {
    color: #858585; }
  .services .img-teams, .teams .img-teams {
    width: 100%; }

.welcome-member {
  font-size: 16px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  color: #0D2433; }

.term2 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #242A2F;
  text-align: center; }
  .term2 a {
    color: #179DFE; }

.term3 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #0A3047;
  text-align: left; }
  .term3 a {
    color: #179DFE; }

.button-arrow {
  position: absolute;
  right: 35px;
  margin-top: 5px; }

.prebox {
  margin: 0px 40px;
  min-height: 300px;
  height: auto; }
  .prebox .preBar {
    height: 10px;
    border-radius: 10px; }
  .prebox .preText {
    color: #0A3047;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    line-height: 20px; }
  .prebox .preLabel {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #0A3047;
    font-size: 16px;
    line-height: 28px; }
  .prebox .preLabelx {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #242A2F;
    font-size: 12px;
    line-height: 28px; }
  .prebox .boxGender {
    width: 160px;
    height: 160px;
    border-radius: 4px;
    border: 5px solid #EDEFF2; }
  .prebox .preDate {
    border-color: #fff;
    color: #179DFE;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px; }
  .prebox .preInput {
    border-color: #fff;
    color: #179DFE;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px; }
  .prebox .preSelect {
    margin-left: 38px; }
  .prebox .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block; }
  .prebox .btn {
    border: 0px solid gray;
    color: #179DFE;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold; }
  .prebox .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; }

.btn-social {
  width: 150px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  border-radius: 3px;
  font-weight: 700; }

.fb {
  background-color: #475993; }

.linkedin {
  background-color: #0077B7; }

.google {
  border-color: #000;
  background-color: #fff;
  color: #000; }

.button {
  height: 45px;
  font-family: "Open Sans", sans-serif;
  color: #000;
  border-radius: 3px;
  font-weight: 700;
  line-height: 2; }

.btn-register {
  background-color: #FAAF40;
  color: #000; }
  .btn-register:hover {
    color: #000; }

.btn-login {
  background-color: #179DFE;
  color: #fff; }
  .btn-login:hover {
    color: #fff; }

.label {
  font-family: "Open Sans", sans-serif;
  color: #0D2433;
  font-size: 14px;
  font-weight: 700; }

.forgot {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #179DFE; }
  .forgot a {
    color: #179DFE; }
  .forgot:hover {
    color: #179DFE; }

.input-form {
  height: 50px;
  border-radius: 3px;
  border: 2px solid #E6E8EA;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #0D2433; }

body {
  background: '#fff';
  font-family: 'Open Sans', sans-serif; }

.bg-white {
  background: '#fff'; }

.preline {
  border-left: 1px solid #EDEFF2; }

.cover {
  font-family: 'Open Sans', sans-serif;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  .cover h2 {
    font-size: 32px;
    color: #10496D;
    line-height: 48px; }
  .cover p {
    color: #858585;
    font-size: 20px; }

.bg-gradient {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f2fbfd 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #f2fbfd 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f2fbfd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2fbfd',GradientType=0 ); }

html body .app.flex-row.align-items-center {
  height: 100vh; }
